<footer class="bg-dark text-light row row-cols-5 me-0 ms-0">
    <div class="col">

        <p class="text-muted ms-3 mt-3">© Soy Jona 2022</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
        <h5>Punto1</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a [routerLink]="['libros']" class="nav-link p-0 text-muted">Libros</a></li>

        </ul>
    </div>

    <div class="col">
        <h5>Punto2</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a [routerLink]="['transaccion']" class="nav-link p-0 text-muted">Transacción</a>
            </li>

        </ul>
    </div>

    <div class="col">
        <h5>Punto3</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a [routerLink]="['ventapasaje']" class="nav-link p-0 text-muted">Venta Pasaje</a>
            </li>

        </ul>
    </div>
</footer>