<main class="bg-dark">
    <div class="row justify-content-center bg-dark me-0 ms-0">
        <div class="col-12 col-lg-9 col-xl-7 p-4">
            <div class="card">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary" (click)="irLista()">Lista</button>
                </div>
                <div class="card-body p-4 p-md-5 ">
                    <div class="mt-4 d-flex justify-content-end" *ngIf="accion=='new'">
                        <input class="btn btn-secondary" type="submit" value="Reset" (click)="reiniciar()" />
                    </div>
                    <h3 class="mb-4 pb-2 text-center" *ngIf="accion=='new'">Registrar compra</h3>
                    <h3 class="mb-4 pb-2 text-center" *ngIf="accion=='update'">Actualizar compra</h3>

                    <form #pasajeForm="ngForm" class="">
                        <div class="row d-fex justify-content-center">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label id="idPersona" class="form-label">Email</label>
                                    <select class="form-select" id="idPersona" required [(ngModel)]="pasaje.pasajero"
                                        name="persona" #per="ngModel" required maxlength="30" minlength="2">
                                        <option *ngFor="let item of personas" [ngValue]="item">
                                            Nombre: {{item.apellido}}, {{item.nombre}}; Correo: {{item.email}}
                                        </option>
                                    </select>
                                    <div class="alert alert-danger" *ngIf="per.invalid && (per.dirty || per.touched)">
                                        <div>
                                            Pasajero es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-fex justify-content-center">
                            <div class="col-md-6 mb-4">
                                <label class=" form-label" for="title-select">Categoría :
                                </label>
                                <select class="form-select" aria-label="Default select example" required maxlength="30"
                                    minlength="2" id="inputcategoriaPasajero" [(ngModel)]="pasaje.categoriaPasajero"
                                    name="categoriaPasajero" #cat="ngModel">
                                    <option name="categoriaPasajero" *ngFor="let item of categorialist">
                                        {{item}}
                                    </option>
                                </select>
                                <div class="alert alert-danger" *ngIf="cat.invalid && (cat.touched)">
                                    <div>
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-fex justify-content-center">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label">Precio del Pasaje</label>
                                    <input class="form-control" type="number" id="precioPasaje"
                                        [(ngModel)]="pasaje.precioPasaje" name="precioPasaje" #prec="ngModel"
                                        required />
                                    <div class="alert alert-danger"
                                        *ngIf="prec.invalid && (prec.dirty || prec.touched)">
                                        <div *ngIf="prec.errors?.['required']">
                                            precio tiene que ser número y es requerido
                                        </div>

                                    </div>
                                </div>
                                <div *ngIf="pasaje.categoriaPasajero &&pasaje.precioPasaje">
                                    <label class="form-label" for="firstName">Descuento de
                                        {{cuantoDescuento(pasaje.categoriaPasajero,pasaje.precioPasaje)}}
                                        {{ porcentaje| percent}}, total a
                                        pagar:
                                        {{descuento|currency:'CAD':'symbol-narrow'}}</label>
                                </div>

                            </div>

                        </div>
                        <div class="row d-fex justify-content-center">
                            <div class="col-md-6 mb-4">
                                <div class="mt-4" *ngIf="accion=='new'">
                                    <input class="btn btn-success" type="submit" value="Registrar compra"
                                        (click)="enviarPasaje(pasajeForm)" [disabled]="!pasajeForm.form.valid" />
                                </div>
                                <div class="mt-4" *ngIf="accion=='update'">
                                    <input class="btn btn-success" type="submit" value="Actualizar compra"
                                        (click)="actualizarPasaje()" [disabled]="!pasajeForm.form.valid" />
                                </div>

                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</main>